In [1]:
import pandas as pd

reviews = pd.read_excel("yelp_reviews.xlsx")
reviews.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
1,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
2,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15
3,JrIxlS1TzJ-iCu79ul40cQ,eUta8W_HdHMXPzLBBZhL1A,04UD14gamNjLY0IDYVhHJg,1,1,2,1,I am a long term frequent customer of this est...,2015-09-23 23:10:31
4,6AxgBCNX_PNTOxmbRSwcKQ,r3zeYsv1XFBRA4dJpL78cw,gmjsEdUsKpj9Xxu6pdjH0g,5,0,2,0,Loved this tour! I grabbed a groupon and the p...,2015-01-03 23:21:18

In [2]:
reviews["review"] = reviews["text"]
reviews["is_bad_review"] = reviews["stars"].apply(lambda x: 1 if x < 3 else 0)
reviews_df = reviews[["review", "is_bad_review"]]
reviews_df.head(10)

                                              review  is_bad_review
0  Family diner. Had the buffet. Eclectic assortm...              0
1  Wow!  Yummy, different,  delicious.   Our favo...              0
2  Cute interior and owner (?) gave us tour of up...              0
3  I am a long term frequent customer of this est...              1
4  Loved this tour! I grabbed a groupon and the p...              0
5  Amazingly amazing wings and homemade bleu chee...              0
6  This easter instead of going to Lopez Lake we ...              0
7  Had a party of 6 here for hibachi. Our waitres...              0
8  My experience with Shalimar was nothing but wo...              0
9  Locals recommended Milktooth, and it's an amaz...              0

In [4]:
reviews_df = reviews.sample(frac = 0.1, replace = False, random_state=45)